@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap");

* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #1b1523;
  color: #fff;
}
a {
  text-decoration: none;
}
